modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
RPC_URL = "https://rpc.testnet.arc.network"
ESCROW_CONTRACT_ADDRESS = "0xae4c7eb1d8d01cbe25799c8f3cae84d03aada5cd"
CIRCLE_API_BASE_URL = "https://api-sandbox.circle.com"
BACKEND_TRUSTED_SIGNER = "0x4B6b75fB5cbd8a2Ebc8c8bDbc2Df628e189F35ef"
USDC_ADDRESS = "0x3600000000000000000000000000000000000000"
BACKEND_SIGNER_PRIVATE_KEY = "0x48dbb69b25649dd047b680e53a4cacb31c16e3fcb875491274c7c2a4e9034477"
CIRCLE_API_KEY = "TEST_API_KEY:8b114f74c1f2863e5b1b6d022c5ac525:d44cf0713cd7d5b040c40892dbe84078"
CIRCLE_ENTITY_SECRET = "c6ee52c5a7d36b38ba54e994a62971009a97eee3e0caab170ecbc66c3774e02f"

[nix]
channel = "stable-25_05"
